@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Pacifico:wght@400&display=swap");

html,
body {
  font-family: "IBM Plex Sans" !important;
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
